nav{
    display: flex;
    overflow: hidden;
    }

ul{
    display: flex;
}

.main_nav{
    margin-bottom: 18px ;
    line-height: 75px;
    justify-content: space-evenly;
    /* margin: 0 auto; */
    border-bottom: #ced7dd 1px solid ;
}

.main_nav h1{
    width: 131px; height: 46px;
    background-color: azure;
    margin-top: 15px;
    text-align: center;
    line-height: 46px;
}

.main_nav li{
    margin: 0 10px;
    text-align: center;
    font-weight: 900;
}

.main_add > li > a {
    margin: 0 5px;
}

.user_page{
    vertical-align: sub;
}


.layout_container{
    width: 1350px;
    margin: 0 auto;
}

.sub_menu{
    width: 1159px;
    margin-left: 15%;
}
.sub_menu li{
    width: 161px; height: 65px;
    margin-left: 5px;
    border: 1px solid #ced7dd;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 10px;
    color: #AEAEAE;
}


.sub_menu li span {
    font-size: 14px;
    font-weight: 500;
}

.step_menu {
    border: #ced7dd 1px solid;
    border-radius: 8px;
    width: 151px; height: 476px;
    padding: 15px;
    margin-right: 21px;
    font-size: 14px;
    font-weight: 600;
}
.step_menu h3{
    margin-bottom: 34px;
}
.step_menu > ul{
    display: block;
    width: 120px;
    margin: 0 auto;
}

.step_menu > ul > li{
    display: flex;
    margin-bottom: 20px;
    color:#AFB0B8
}

.step_menu > ul > li > p{
    margin-right: 5px;
    width:24px; height:24px;
    background-color: #E0DDE6;
    border-radius: 50%;
    padding: 7.5px; line-height: 8px;
    color:#787389;
}

.main_container{
    display: flex;
    width: 1257px;
    margin: 17px auto;
}

main{
    width: 1123px;
    height: 465px;
    position: relative;
}

.language_select{
    display: flex;
    width: 1182px;
    height: 55px;
    display: flex;
    border: 1px solid #D1D5DB;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}

.language_select > li{
    width: 591px;
    padding: 15px;
    
}


.languages{
    display: none;
    background-color: white;
    width: 1182px; height: 420px;
    justify-content: center;
    position: absolute;
    top:55px;
    transform: translateX(-605px);
    flex-wrap: wrap;
    overflow: scroll;
    z-index: 999;
}

.languages li{
    width: 200px; height: 55px;
    text-align: center;
}

.language_btn{
    width: 11px;
    cursor: pointer;
}

.rotate {
    transform: rotate(180deg);
  }

main > .file_uploed {
    width: 1183px;
    height: 417px;
    border: 3px solid #ced7dd;
    position: relative;
    overflow-y: hidden;
}

main > .file_uploed > div{
    height: 412.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--purple);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

main > .file_uploed > input{
    width: 100%;
    height: 120%;
    position: absolute;
    bottom: 0;
   
}

input[type="file"] {
    position: relative;
   
    border-radius: 3px;
    bottom: 130px;
    
  }
  
  input[type="file"]::before {
    content: "선택하기";
    display: inline-block;
    background-color: black;
    color: white; 
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 40%;
    width: 244px; height: 50px;
    cursor: pointer;
    line-height: 50px;
    border-radius: 3px;
  }
  
  input[type="file"]:hover::before {
    background-color: gray;
  }


.file_title{
    /* font-family: Noto Sans KR; */
    font-size: 19px;
    font-weight:900;
}

.file_type{
    font-size: 14px;
    color: #8c8c8c
}


.sub_select{
    width: 1190px;
    margin: 0 16%;
}


.sub_select h3{

    font-size: 24px;
    font-weight: 500;
    margin: 30px 0;
}

.sub_select h3::after{
    content: "";
    position: absolute;
    top:50%;
    width: 1000px;
    height: 1px;
    background-color: #DADADA;
    
}

.sub_select h4{
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #000000;
}

.type_container{
    display: flex;
    justify-content: space-between;
}

.sub_type{
    border: 1px solid #000000;
    width: 580px;
    padding: 15px;
}

.sub_type h4{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}



.sub_type div{
    display: flex;
    align-items: center;
}

.plus_choice{
    display: flex;
    line-height: 55px;
}
.plus_choice > div{
    margin-bottom: 5px;
}

.plus_choice > div >img{
    margin-left: 10px;
}

.plus_choice > div:first-child{
    width: 135px;
    height: 55px;
    background-color: #FBF1FB;
    border-radius: 5px;
    text-align: center;
}

.plus_choice > div:last-child{
    width: 1055px; height: 55px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    border: 1px solid #DADADA;
}

table td{
    border: 1px solid #DADADA;
    text-align: center;
    padding: 10px;
}

.btn_container{
    width: 790px;
    margin: 70px auto;
}

.btn_container button{
    width: 193px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    color:white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.re_estimate{
    background-color: #898989;
}

.basket{
    background-color: #252525;
}

.now_pay{
    background-color: #FF002F;
}

.point_payment{
    background-color: #31881B;
}

.benner{
    padding: 10px;
    width: 1000px; height: 90px;
    margin: 0 20%;
    background-image: url(../../images/banner.png);
}

.benner a{
    margin-left: 85%;
}

.benner div p{
    text-align: center;
    line-height: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #535353;

}

.benner div p strong{
    color: #096EB8;
}