nav{
    display: flex;
    overflow: hidden;
    }

ul{
    display: flex;
}

.main_nav{
    margin-bottom: 18px ;
    line-height: 75px;
    justify-content: space-evenly;
    /* margin: 0 auto; */
    border-bottom: #ced7dd 1px solid ;
}

.main_nav h1{
    width: 131px; height: 46px;
    background-color: azure;
    margin-top: 15px;
    text-align: center;
    line-height: 46px;
}

.main_nav li{
    margin: 0 10px;
    text-align: center;
    font-weight: 900;
}

.main_add > li > a {
    margin: 0 5px;
}

.user_page{
    vertical-align: sub;
}


.layout_container{
    width: 1350px;
    margin: 0 auto;
}

.sub_menu{
    width: 1159px;
    margin-left: 15%;
}
.sub_menu li{
    width: 161px; height: 65px;
    margin-left: 5px;
    border: 1px solid #ced7dd;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 10px;
    color: #AEAEAE;
}


.sub_menu li span {
    font-size: 14px;
    font-weight: 500;
}

.step_menu {
    border: #ced7dd 1px solid;
    border-radius: 8px;
    width: 151px; height: 476px;
    padding: 15px;
    margin-right: 21px;
    font-size: 14px;
    font-weight: 600;
}
.step_menu h3{
    margin-bottom: 34px;
}
.step_menu > ul{
    display: block;
    width: 120px;
    margin: 0 auto;
}

.step_menu > ul > li{
    display: flex;
    margin-bottom: 20px;
    color:#AFB0B8
}

.step_menu > ul > li > p{
    margin-right: 5px;
    width:24px; height:24px;
    background-color: #E0DDE6;
    border-radius: 50%;
    padding: 7.5px; line-height: 8px;
    color:#787389;
}

.main_container{
    display: flex;
    width: 1257px;
    margin: 17px auto;
}

main{
    width: 1123px;
    height: 465px;
}

label{
    width: 1183px;
    display: flex;
    justify-content: space-between;
    
}

main form > select {
    padding: 0 24px;
    width: 548px; height: 48px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #ced7dd;
    border-bottom: none;
}

main form > select:first-child{
    font-weight: bold;
    font-size: 14px;
}

main > .file_uploed {
    width: 1183px;
    height: 417px;
    border: 3px solid #ced7dd;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

main > .file_uploed > div{
    height: 412.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--purple);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.file_title{
    /* font-family: Noto Sans KR; */
    font-size: 19px;
    font-weight:900;
}

.file_type{
    font-size: 14px;
    color: #8c8c8c
}


.file_uploed button{
    width: 244px; height: 50px;
    background-color: #000000;
    color:white;
    font-size: 16px;
    border-radius: 3px;
}

.sub_select{
    width: 1190px;
    margin: 0 16%;
}


.sub_select h3{

    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.sub_select h3::after{
    content: "";
    position: absolute;
    top:50%;
    width: 1000px;
    height: 1px;
    background-color: #DADADA;
    
}

.sub_select h4{
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #000000;
}

.type_container{
    display: flex;
    justify-content: space-between;
}

.sub_type{
    border: 1px solid #000000;
    width: 580px;
    padding: 15px;
}

.sub_type h4{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}



.sub_type div{
    display: flex;
    align-items: center;
}

.benner{
    padding: 10px;
    width: 1000px; height: 90px;
    margin: 0 20%;
    background-image: url(../../images/banner.png);
}

.benner a{
    margin-left: 85%;
}

.benner div p{
    text-align: center;
    line-height: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #535353;

}

.benner div p strong{
    color: #096EB8;
}